.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  min-width: 100vw;
  color: black;
  background-color: white;
}

.sketch {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.invertButton {
  position: fixed;
  top: 30px;
  left: 5vw;
}
