.container {
  height: 60vh;
  width: 27vw;
  position: fixed;
  margin-top: 5vh;
  margin-left: -3vw;
}

@media screen and (max-width: 900px) {
  .container {
    height: 300px;
    width: 300px;
    margin-top: 0;
    margin-left: -80px;
  }
}
