.gridText {
  font-weight: 600;
  font-size: 1rem;
  color: black;
  border-left: 1px solid black;
  padding-left: 10px;
  height: 4vh;
  position: fixed;
  user-select: none;
}

.chiri {
  bottom: 5dvh;
  left: 10px;
}

.yama {
  bottom: 5dvh;
  left: 33vw;
}

@media screen and (max-width: 900px) {
  .gridText {
    border-left: none;
  }

  .chiri {
    bottom: 90dvh;
    left: 10px;
    margin-left: -10px;
    padding-right: 30px;
    border-bottom: 1px solid black;
  }

  .yama {
    left: 10px;
  }
}
